{% extends "base.html" %}
{% block start %}
  <h1>This is index page</h1>
   <a href="/about/">
    about
  </a>
  |
   <a href="/contact/">
    contact
  </a>
  <!--{{peoples}} Render peoples data from backend django-->
  <table class="container">
  <tr>
    <th>S NO</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote</th>
  </tr>
  {% for people in peoples%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td> 
       {% if people.age >= 18 %}
        👍
      {% else %}
        👎
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<p>
  {%if "cucumber" in vegetables%}
    Yes Available
  
  {%else%} 
    NO Available
  {% endif %}
</p>
 
{% endblock %}